# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pre-DOE-Skill.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bhara\Unity\Pre-DOE-Skill\Pre-DOE-Skill\.idea\.idea.Pre-DOE-Skill\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
